# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
build
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.xlsx

# Data files
static/maps/Local_Authority_Districts_December_2011_GB_BGC_2022_484504071141336946.geojson
static/maps/Local_Authority_Districts_December_2024_Boundaries_UK_BGC_-8811838383176485936.geojson
static/maps/Local_Authority_Districts_May_2021_UK_BGC_2022_-141878117537581841.geojson
static/maps/Lower_layer_Super_Output_Areas_2021_EW_BGC_V3_-6823567593069184824.geojson


static/UK_Archetypes_global_measures.csv
static/UK_Archetypes_info.csv
static/database.duckdb

staticNotDeployed/oldParquet/database.parquet
staticNotDeployed/predicted_data_final.csv
staticNotDeployed/predicted_data_per.csv
staticNotDeployed/UK_Archetypes.xlsx
staticNotDeployed/coBenefits
staticNotDeployed/simulations_new/**/*


data/Final_hassle_fix.csv

Archive/
.ipynb_checkpoints
.svelte-kit

posthog/posthog.env
posthog/.venv-posthog-export/
posthog/exports/
